darknet_data
detection_node_data/*
images_and_detections/*

!images_and_detections/.gitkeep
!detection_node_data/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache/
*.py[cod]
*$py.class

.env
learning_loop_node/tmp
learning_loop_node/.python-version
