darknet_data
detection_node_data/*
images_and_detections/*

!images_and_detections/.gitkeep
!detection_node_data/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.env