name: Upload Python Package

on:
  push:
    tags:
      - v**
  # Allows you to run this workflow manually from the Actions a tab
  workflow_dispatch:

jobs:
  pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: set up uv
        uses: astral-sh/setup-uv@v3
      - name: get version
        id: get_version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> "$GITHUB_OUTPUT"
      - name: set version
        run: uv version "${{ steps.get_version.outputs.VERSION }}"
      - name: publish
        run: |
          uv build
          uv publish --token "${{ secrets.PYPI_API_TOKEN }}" dist/*
